<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>메인 페이지</title>
  <th:block th:replace="inc/head :: head"></th:block>
<!--  <h1>메인 페이지 <button class="btn btn-primary"> 부트스트랩 테스트 </button></h1>-->
</head>
<body>
<header>
    <th:block th:replace="inc/header :: header"></th:block>
</header>

<main>
  <h2>메인 페이지 내용</h2>
  <p>여기에 메인 페이지의 내용을 적어주세요.  </p>

</main>
<footer>
  <p>© 2023, 회사 이름. All rights reserved.</p>
</footer>
</body>
</html>
